proj/nodejs.txt
[{"id":"227dedd7.4be752","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"227dedd7.4be752","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","x":120,"y":40,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"227dedd7.4be752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":40,"wires":[]},{"id":"f8775e00.2e587","type":"ibmiot in","z":"227dedd7.4be752","authentication":"apiKey","apiKey":"3d72d68b.b9371a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"+MAYANK","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":120,"wires":[["20c22ea7.6b0522","6954d23.6dbef2c"]]},{"id":"8b4e970d.bd7298","type":"ui_gauge","z":"227dedd7.4be752","name":"","group":"731b4bca.6ff4b4","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":100,"wires":[]},{"id":"2f6cea9c.7a3776","type":"ui_gauge","z":"227dedd7.4be752","name":"","group":"731b4bca.6ff4b4","order":1,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":140,"wires":[]},{"id":"20c22ea7.6b0522","type":"function","z":"227dedd7.4be752","name":"temperature","func":"global.set(\"temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":100,"wires":[["f2f2649a.0d0d98","8b4e970d.bd7298"]]},{"id":"6954d23.6dbef2c","type":"function","z":"227dedd7.4be752","name":"moisture","func":"global.set(\"moisture\",msg.payload.moisture)\nmsg.payload=msg.payload.moisture;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":180,"wires":[["f2f2649a.0d0d98","2f6cea9c.7a3776"]]},{"id":"e8f8743a.facea8","type":"http response","z":"227dedd7.4be752","name":"","statusCode":"","headers":{},"x":510,"y":260,"wires":[]},{"id":"22624c25.d87164","type":"http in","z":"227dedd7.4be752","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["12dad350.1b9f1d"]]},{"id":"12dad350.1b9f1d","type":"function","z":"227dedd7.4be752","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'moisture':global.get(\"moisture\") };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":260,"wires":[["e8f8743a.facea8"]]},{"id":"f0da899b.369ed8","type":"function","z":"227dedd7.4be752","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":400,"wires":[["313787c2.ad2538","82405b9d.2818b8","eca5383c.71dd28"]]},{"id":"bb57e642.48b3a8","type":"http in","z":"227dedd7.4be752","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["f0da899b.369ed8"]]},{"id":"313787c2.ad2538","type":"http response","z":"227dedd7.4be752","name":"","statusCode":"","headers":{},"x":540,"y":400,"wires":[]},{"id":"82405b9d.2818b8","type":"debug","z":"227dedd7.4be752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":340,"wires":[]},{"id":"890d693b.e39328","type":"ui_button","z":"227dedd7.4be752","name":"","group":"731b4bca.6ff4b4","order":2,"width":0,"height":0,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":180,"y":460,"wires":[["eca5383c.71dd28"]]},{"id":"4120119c.688e8","type":"ui_button","z":"227dedd7.4be752","name":"","group":"731b4bca.6ff4b4","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":160,"y":520,"wires":[["eca5383c.71dd28"]]},{"id":"eca5383c.71dd28","type":"ibmiot out","z":"227dedd7.4be752","authentication":"apiKey","apiKey":"3d72d68b.b9371a","outputType":"cmd","deviceId":"123","deviceType":"MAYANK","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":370,"y":520,"wires":[]},{"id":"3d72d68b.b9371a","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"731b4bca.6ff4b4","type":"ui_group","z":"","name":"Default","tab":"80adc06.d08804","order":1,"disp":true,"width":"6","collapse":false},{"id":"80adc06.d08804","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]